/* global */
body {
  background-image: linear-gradient(64.5deg, rgba(245, 116, 185, 1) 14.7%, rgba(89, 97, 223, 1) 88.7%);
  font-size: 16px;
  font-family: Khula;
  color: #ffffff;
}

.hide {
  display: none;
}

i {
  pointer-events: none;
}

@font-face {
  font-family: Convergence;
  src: url(../fonts/Convergence/Convergence-Regular.ttf);
}

@font-face {
  font-family: Sansita;
  src: url(../fonts/Sansita/Sansita-Bold.ttf);
}

@font-face {
  font-family: Khula;
  src: url(../fonts/Khula/Khula-Regular.ttf);
}


.search .container-fluid {
  display: flex;
  justify-content: flex-start;
}

.instructions-open {
  /* These styles aren't working */
  border: 3px solid white;
  height: 30px;
  width: 30px;
  border-radius: 50% !important;
  background-color: transparent !important;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions-close {
  background-color: #f58cff;
  color: black;
  border-color: white;
  font-weight: bold;
  border-radius: 5px;
}

#how-it-works {
  background: linear-gradient(10deg, rgb(53, 0, 83), rgb(101, 0, 114), rgb(143, 0, 179));
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  z-index: 1;
  position: fixed;
  left: 5%;
  top: 20px;

}

;

/* header  */
h1 {
  display: flex;
  font-family: Sansita;
  color: #c0fc51;
  text-shadow: 2px 4px 4px #1bd69e;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
}

h1 img {
  height: 70px;
  width: auto;
}

h1 img:hover {
  animation: shake3856 0.3s linear infinite both;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* hero */
.img-fluid {
  border-radius: 14px;
  background: #a15fa6;
  box-shadow: 13px 13px 22px #7e4a81,
    -13px -13px 22px #c474cb;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* input area */
label {
  padding-left: 20px;
}

.category {
  color: #c0fc51;
  font-weight: bolder;
  border: 2px solid #8c80e5;
  border-radius: 10px;
  padding: 4px 17px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: transparent;
  max-width: 250px;
}

.category:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.search-area {
  padding: 20px 20px 10px 20px;
}

.name-search-set {
  padding-bottom: 15px;
}

.ingredient-search-set {
  padding-left: 20px;
}

#number-input {
  color: #c0fc51;
  border: 2px solid #8c80e5;
  border-radius: 10px;
  padding: 4px 17px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: transparent;
  max-width: 90px;

}

/*placeholder text colour*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c0fc51 !important;
  opacity: 1;
  /* Firefox */
  font-weight: bolder;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c0fc51 !important;
  font-weight: bolder;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c0fc51 !important;
  font-weight: bolder;
}

/* random button */
#buttons {
  display: flex;
  padding: 10px 10px 10px 20px;
}

.submit-btn {
  margin-right: 15px;
  height: 3em;
  width: 7em;
  border: 2px solid #fff;
  border-radius: 12px;
  box-shadow: 0 2px 0 2px #000;
  background: #f0a1ed;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.submit-btn:hover {
  animation: shake3856 0.3s linear infinite both;
  color: #c0fc51;
  cursor: url(../images/cursor.png), auto;
  cursor: url(../images/cursor.png) 15 15, move;
}

@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}


/* random button */

.random {
  height: 3em;
  width: 7em;
  background: none;
  border: 2px solid #fff;
  font-size: 17px;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #c188f3;
  font-weight: 900;
  box-shadow: 0 2px 0 2px #000;
}

.random:before {
  content: "";
  position: absolute;
  height: 3em;
  width: 7em;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.random:hover {
  background-color: #4cc9f0;
  color: #c0fc51;
  box-shadow: 0 2px 0 2px #0d3b66;
  cursor: url(../images/cursor.png), auto;
  cursor: url(../images/cursor.png) 15 15, move;
}

.random:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.random:active {
  transform: scale(0.9);
}

/* reset button */
.clear-results {
  height: 3em;
  width: 7em;
  margin-left: 15px;
  border-radius: 12px;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid #c0fc51;
  outline: none;
  color: #ffffff;
  font-size: 17px;
}

.clear-results:hover {
  background: #c0fc51;
  color: #ffffff;
  animation: squeeze3124 0.9s both;
}

@keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* clear favourites button */
.clear-favourites {
  height: 3em;
  width: 7em;
  margin-left: 15px;
  border-radius: 12px;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid #8c80e5;
  outline: none;
  color: #ffffff;
  font-size: 17px;
}

.clear-favourites:hover {
  background: #8c80e5;
  color: #ffffff;
  animation: squeeze3124 0.9s both;
}

/* warning */
#no-search-warning {
  width: 30em;
  text-align: center;
  margin: 5px 20px 15px 20px;
  font-size: 10px;
  border: none;
  outline: 1px dotted rgb(37, 37, 37);
  outline-offset: -4px;
  background: #e6dc276f;
  box-shadow: inset -1px -1px #292929, inset 1px 1px #fff, inset -2px -2px rgb(158, 158, 158), inset 2px 2px #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 10px 5px 10px;
}

@media (max-width: 454px) {
  #no-search-warning {
    width: 18em;
  }
}

/* #no-search-warning:active {
        box-shadow: inset -1px -1px #fff, inset 1px 1px #292929, inset -2px -2px #ffffff, inset 2px 2px rgb(158, 158, 158);
      } */


/* font */
.navbar-brand,
h3 {
  font-family: Convergence;
  font-size: 22px;
  color: #f4e923;
}

.form-control {
  color: #4cc9f0;
  border: 2px solid #8c80e5;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 250px;
}

.form-control:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

input::before {
  color: #4cc9f0;
}


/* results */
.results {
  margin-top: 30px;
  padding-right: 40px;
  display: flex;
}

.results img

/* image output settings */
  {
  border-radius: 14px;
  background: #a15fa6;
  box-shadow: 8px 13px 22px #7e4a81,
    -8px -13px 22px #c674cd;
  display: block;
  margin-left: 20px;
  margin-right: auto;
  width: 80%;
  margin-bottom: 20px;

}

.result-text {
  background-color: #0d3b66;
}

/* favourite icon */
.favourite-btn {
  background-image: url(../images/favourite.png);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 50%;
}

/* favourite drinks */
.btn-primary {
  padding: 8px 20px;
  border-radius: 10px;
  margin: 30px 5px 15px 20px;
  border: 0;
  background-color: #4ccaf098;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all .3s ease;
  box-shadow: #257289a1 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  font-weight: bolder;
}

.btn-primary:hover {
  box-shadow: #257289a1 0px 7px 0px 0px;
}

.btn-primary:active {
  background-color: #4ccaf098;
  /*50, 168, 80*/
  box-shadow: #257289a1 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}


/* footer */
#github {
  width: 2em;
  height: auto;
  margin: auto;
}



/* Miscellaneous */
@media (min-width: 768px) {
  .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (min-width: 1250px) {
  .img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}

/* MODAL */

#agepopup {
  background-color: rgb(187, 93, 201);
  position: absolute;
  top: 150px;
  left: 560px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #888;
  cursor: pointer;
  border: 5px solid rgb(179, 23, 23);
  z-index: 100;

}

/* #verify-month {
  position:absolute;
  padding: 10px;
  height: 39px;
  width: 113px;
} */

#verify-box {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#confirm-age:hover {
display: flex;
  height: 39px;
  width: 113px;
  justify-content: center;
  align-items: center;
}

h4 {


  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #d91515;
  font-weight: bolder;
  font-size: larger;

}